{% extends "table.html" %}
{% load static from staticfiles %}
{% load bootstrap %}
{% block titulo %}
IESI - Comissão Própria de Avaliação
{% endblock %}
{% block main %}
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={% url 'home' %}>
                <img src={% static "images/navbar-brand.png" %} alt="IESI - Comissão Própria de Avaliação" />
            </a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href={% url 'admin:index' %}><i class="fa fa-user fa-fw"></i> Administrador</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href={% url 'admin:logout' %}><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="container theme-showcase">
        <div class="container">
            <h1 class="page-header">COMISSÃO PRÓPRIA DE AVALIAÇÃO</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label for="Anoref">Ano de Referência</label>
                    <select name="Anoref" class="form-control">
                        {% for anos in lista_anos %}
                        <option>{{anos.anoref}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <label for="Semref">Semestre de Referência</label>
                    <select name="Semref" class="form-control">
                        {% for semref in lista_semref %}
                        <option>{{semref.semref}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="panel-heading">
                    <label for="Curso">Curso</label>
                    <select name="Curso" class="form-control">
                        {% for curso in lista_curso %}
                        <option>{{curso.curso}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="panel-body">
                    <label for="Semestre">Semestre</label>
                    <select name="Semestre" class="form-control">
                        {% for semestre in lista_semestre %}
                        <option>{{semestre.semestre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Ano Ref</th>
                                    <th>Semestre Ref</th>
                                    <th>Curso</th>
                                    <th>Semestre Curso</th>
                                    <th>Professor</th>
                                    <th>Questão</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for aval in lista_aval %}
                                <tr class="odd gradeX">
                                    <td><a href="#">{{aval.anoref}}</a></td>
                                    <td><a href="#">{{aval.semref}}</a></td>
                                    <td><a href="#">{{aval.curso}}</a></td>
                                    <td><a href="#">{{aval.semestre}}</a></td>
                                    <td><a href="#">{{aval.professor}}</a></td>
                                    <td><a href="#">{{aval.questao}}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
{% endblock %}
