{% extends 'pages/tables.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block title %}
    Lista de Cursos
{% endblock %}

{% block navbar-brand %}
    <img src={% static "img/navbar-brand.png" %} alt="IESI - Comissão Própria de Avaliação" />
{% endblock %}

{% block titletable %}
    Lista de Cursos
    <div class="col-xs-12 col-md-2 pull-right pull-right-m">
        <a href="{% url 'curso_create' %}" class="btn btn-primary btn-xs">Novo</a>
    </div>
{% endblock %}

{% block page-header %}
    Cursos
{% endblock  %}
<a href="{% url '' %}" class="btn btn-default">Novo</a>
{% block table %}
<thead>
    <tr>
        <th>ID</th>
        <th>CURSO</th>
    </tr>
</thead>
<tbody>
    {% for curso in lista_curso %}
        <tr class="odd gradeX">
            <td><a href="{% url 'curso_update' curso.id %}">{{ curso.id }}</a></td>
            <td><a href="{% url 'curso_update' curso.id %}">{{ curso.curso }}</a></td>
        </tr>
    {% endfor %}
</tbody>
{% endblock  %}
